body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
}

/*header*/
.header {
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container {
  /* padding-left: 15px;
  padding-right: 15px; */
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
  /* max-width: 1158px; */
  min-width: 320px;
  width: 100%;
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 25.5px 0;
  /*margin-right: 76px;*/
}

.webstudio {
  color: #2e2f42;
}

.mob-menu-open-btn {
  display: flex;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 24px 16px 40px 24px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu-close-btn {
  margin-left: auto;
  display: flex;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: 1px solid #e7e9fc;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}

.mob-nav-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-nav-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  transform: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-nav-link:hover,
.mob-nav-link:focus {
  color: #404bbf;
}

.mob-mail-phone-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mob-link-mail-phone {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mob-link-mail-phone:active {
  color: #404bbf;
}

.mob-icon-list {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.mob-icon-item {
  width: 40px;
  height: 40px;
}

.mob-icon-link {
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-icon-link:active {
  background-color: #404bbf;
}

/* first-section*/
.first-section {
  background: #2e2f42;
  /*padding: 188px 0 188px;*/
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /*max-width: 1440px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding-top: 72px;
  padding-bottom: 72px;
  min-width: 320px;
  width: 100%;
}

.title-first-section {
  /*max-width: 496px;*/
  max-width: 288px;
  text-align: center;
  color: #fff;
  margin: 0 auto 72px;
  /*font-size: 56px;*/
  font-size: 36px;
  line-height: 1.11;
  /*margin-bottom: 48px;*/
  font-weight: 700;
  letter-spacing: 0.02em;
  padding: 0 60px;
}

.first-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 16px 32px;
  border: transparent;
  margin: 0 auto;
  display: block;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.first-button:hover,
.first-button:focus {
  background-color: #404bbf;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .main-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office\ 1-min-2x.jpg);
  }
}

/*second-section*/
.second-section {
  /*padding: 120px 0;*/
  padding: 96px 0;
}

.second-section-list {
  /*gap: 24px;*/
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.list-item-second {
  /*width: calc((100% - 72px) / 4);*/
  list-style: none;
  padding: 0;
}

.title-section-second {
  color: #2e2f42;
  /*font-size: 20px;*/
  font-size: 36px;
  /*font-weight: 500;*/
  font-weight: 700;
  /*line-height: 1.2;*/
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  gap: 24px;
  text-align: center;
}

.text-title-section-second {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.icon {
  /*display: flex;*/
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

/*third-section*/
.third-section {
  /*padding: 120px 0 120px;*/
  padding: 96px 0 96px;
  background: #f4f4fd;
}

.title-third-section {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.images-list-third {
  /*display: flex;*/
  flex-wrap: wrap;
  justify-content: center;
  /*gap: 24px;*/
  row-gap: 72px;
}

.list-item-third {
  background-color: #ffffff;
  /*width: calc((100% - 72px) / 4);*/
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-offer {
  padding: 32px 0;
}

.title-section-third {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.text-title-section-third {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-li {
  width: 40px;
  height: 40px;
}

.icon-link {
  background-color: #4d5ae5;
  padding: 12px;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-svg {
  fill: #f4f4fd;
}

/*fourth-section*/
.fourth-section {
  background: #fff;
  /*padding-top: 120px;
  padding-bottom: 120px;*/
  padding-top: 96px;
  /*display: flex;*/
  justify-content: space-between;
  flex-wrap: wrap;
}

.images-list-fourth {
  display: flex;
  column-gap: 24px;
  flex-wrap: wrap;
  row-gap: 48px;
}

.list-item-fourth {
  /*width: calc((100% - 48px) / 3);*/
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-fourth {
  position: relative;
  overflow: hidden;
}

.list-item-fourth:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.title-fourth-section {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.list-item {
  background: #fff;
}

.title-section-four {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text-title-section-fourth {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.app-paragraph {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-fourth:hover .app-paragraph {
  transform: translateY(0%);
}

/*____________ footer________________________*/
.footer {
  background-color: #2e2f42;
  /* padding-top: 100px;
  padding-bottom: 100px; */
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-container {
  /*display: flex;
  align-items: baseline;*/
}

.footer-logo-p {
  /*margin-right: 120px;*/
  text-align: center;
}

.footer-studio {
  color: #f4f4fd;
}

.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 17.5px;
  padding-bottom: 72px;
  /* max-width: 264px; */
  min-width: 288px;
  width: 100%;
  text-align: left;
}

.social-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  /*margin-right: 80px;*/
}

.social-paragraph {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  gap: 16px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.icon-link-footer {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover,
.icon-link-footer:focus {
  background-color: #31d0aa;
}

.icon-svg {
  fill: #f4f4fd;
}

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.email-label {
  display: flex;
  flex-direction: column;
}

.email-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.email-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.icon-svg-form {
  width: 24px;
  height: 24px;
  margin-left: 16px;
}

/* backdrop*
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  background-color: rgba(30, 24, 35, 0.615);
  background: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.icon-modal-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  width: 100%;
  margin-bottom: 8px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  outline: transparent;
  color: #1e1823;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input::placeholder {
  color: #999d9d;
}

.modal-input:focus {
  outline: none;
  border-color: #4d5ae5;
  fill: #4d5ae5;
}

.modal-input:focus::placeholder {
  color: #4d5ae5;
}

.modal-input:focus + .modal-icon {
  stroke: #4d5ae5;
}

.modal-label {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  line-height: 1.17;
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-wrap input:focus + .modal-icon {
  fill: #4d5ae5;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-text {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-comment textarea:focus {
  border-color: #4d5ae5;
}

.modal-field-checkbox {
  margin-bottom: 24px;
}

.check-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  align-items: center;
  position: relative;
}

.check-text .privacy-link {
  color: #4d5ae5;
}

.check-text a {
  color: #404bbf;
  text-decoration: underline;
}

.privacy-span {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-input:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

/* Сховати модальне вікно 
.backdrop,
.modal {
  display: none;
}

.modal-close-btn:target {
  display: none;
}
/* ------------------------------- */
